<Jumbo>
  <h2>About Torusoft</h2>
  <p>
    We support the mobile workforce through custom app development, and liberate businesses with our Canadian-hosted cloud service, Backstage.
    We value privacy, productivity, and innovation. There's a better way, and we can help you find it.
  </p>
  <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</Jumbo>