<Jumbo>
  <h2>Welcome to Torusoft!</h2>
  <p>We offer the best software solutions to your problems!</p>
  <LinkTo @route="about" class="button">About Us</LinkTo>
</Jumbo>

<Rentals @rentals={{@model}} />